﻿@model eWomanPM.MVC.Models.ProjectModel

@{
    ViewBag.Title = "AddOrEdit";
}
@*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/
    jquery-ui.css" />*@
<div class="form-inline well well-sm">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.Id);
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Name, new { @class = "col-2 col-form-label " })
                @Html.TextBoxFor(model => model.Name, ViewBag.disabled == false ? new { @class = "form-control" } : (object)new { @class = "form-control", disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.ClientName, new { @class = "col-2 col-form-label" })
                @Html.TextBoxFor(model => model.ClientName, ViewBag.disabled == false ? new { @class = "form-control" } : (object)new { @class = "form-control", disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.ClientName, string.Empty, new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.ProjectTypeId)
                @Html.DropDownListFor(model => model.ProjectTypeId, new SelectList(ViewBag.ProjectTypes, "Value", "Text"), ViewBag.disabled == false ? new { @class = "form-control" } : (object)new { @class = "form-control", disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.ProjectTypeId, string.Empty, new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                <label for="example-text-input" class="col-2 col-form-label">Technology</label>
                @Html.DropDownListFor(model => model.Technology, new SelectList(ViewBag.Tecnologies, "Value", "Text"), ViewBag.disabled == false ? new { @class = "form-control" } : (object)new { @class = "form-control", disabled = "disabled" })

            </div>
        </div>
        <div class="form-inline row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Cost, new { @class = "col-2 col-form-label" })
                @Html.TextBoxFor(model => model.Cost, ViewBag.disabled == false ? new { @class = "form-control" } : (object)new { @class = "form-control", disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.Cost, string.Empty, new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                <label for="example-text-input" class="col-2 col-form-label">Date</label>
                @Html.TextBoxFor(model => model.Date, ViewBag.disabled == false ? new { @class = "form-control" } : (object)new { @class = "form-control", disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.Date, string.Empty, new { @class = "text-danger" })

            </div>
            <div class="col-md-3">
                <label for="example-text-input" class="col-2 col-form-label">Start Date</label>
                @Html.TextBoxFor(model => model.StartDate, ViewBag.disabled == false ? new { @class = "form-control" } : (object)new { @class = "form-control", disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
            <div class="col-md-3">
                <label for="example-text-input" class="col-2 col-form-label">End Date</label>
                @Html.TextBoxFor(model => model.EndDate, ViewBag.disabled == false ? new { @class = "form-control" } : (object)new { @class = "form-control", disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>

        </div>
        <div class="form-inline row">

            <div class="col-md-12 " tabindex="11" style="margin-top: 5px">
                @Html.LabelFor(model => model.Description)
                @Html.TextAreaFor(model => model.Description, 3, 100, ViewBag.disabled == false ? new { @class = "form-control" } : (object)new { @class = "form-control", disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.Description, string.Empty, new { @class = "text-danger" })


            </div>

        </div>
        <div class="form-group" style="text-align: right;margin-top:5px">
            <input type="submit" class="btn btn-success" value="Save" />

            <a href="@Url.Action("AddOrEdit","Project")" class="btn btn-info">Create New</a>
            <a href="@Url.Action("Index","Project")" class="btn btn-info">Back</a>
        </div>
    }

</div>
<div class="tabbable  ">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#pane1" data-toggle="tab">Documents</a></li>
        <li><a href="#pane2" data-toggle="tab">History</a></li>
        <li><a href="#pane3" data-toggle="tab">Comments</a></li>
    </ul>
    <div class="tab-content">
        <div id="pane1" class="tab-pane active">
            <div class="form-inline" style="margin-top: 8px">
                <fieldset>
                    <legend>Chose file</legend>

                    @using (Html.BeginForm("Upload", "Upload", new { projectId = @Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <span class="btn btn-default btn-file"><span> </span><input type="file" name="file" /></span>
                            <input type="submit" name="Submit" id="Submit" value="Upload" />
                        </div>

                    }
                </fieldset>

            </div>
            <table class="table table-responsive well">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                @if (ViewBag.Files != null)
                {
                    foreach (var item in ViewBag.Files)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Date</td>
                            <td>@Html.ActionLink("Donwload", "DownloadFile", "Upload", new { documentId = item.Id }, null)</td>
                        </tr>
                    }
                }


            </table>

        </div>
        <div id="pane2" class="tab-pane">
            <table class="table table-responsive well">
                <thead>
                    <tr>
                        <th>Property Name</th>
                        <th>Old Value</th>
                        <th>New Value</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                @if (ViewBag.TrackerChanges != null)
                {
                    foreach (var item in ViewBag.TrackerChanges)
                    {
                        <tr>
                            <td>@item.PropertyName</td>
                            <td>@item.OldValue</td>
                            <td>@item.NewValue</td>
                            <td>@item.DateChanged</td>
                        </tr>
                    }
                }


            </table>

        </div>
        <div id="pane3" class="tab-pane">
            <div class="row">
                <div class="col-md-12 " tabindex="11" style="margin-top: 5px">
                    <textarea placeholder="Comment" class="form-control"
                              rows="2" cols="1" style="width: 100%"></textarea>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="//code.jquery.com/jquery-1.10.2.js" type="text/javascript"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#Date").datepicker({
        changeMonth: true,
        changeYear: true
    });
    $("#StartDate").datepicker({
        changeMonth: true,
        changeYear: true
    });
    $("#EndDate").datepicker({
        changeMonth: true,
        changeYear: true
    });

</script>
@Scripts.Render("~/bundles/jqueryval")