﻿@model IEnumerable<eWomanPM.MVC.Models.ProjectModel>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
<div class="form-inline well-sm">
    @using (Html.BeginForm("Index", "Project", FormMethod.Post, new { @class = "Search-form" }))
    {
        <fieldset>
            <legend>Filter</legend>
            <div class="row">
                <div class="col-md-3">
                    <label>Name</label>
                </div>
                <div class="col-md-3">
                    <label>Cliente Name</label>
                </div>
                <div class="col-md-3">
                    <label>Type</label>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3">
                    @Html.TextBox("name", null, new { @class = "form-control" })

                </div>
                <div class="col-md-3">
                    @Html.TextBox("clientName", null, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    @Html.DropDownList("type", new SelectList(ViewBag.ProjectTypes, "Value", "Text"), new { @class = "form-control" })
                </div>
                @*<div class="col-md-3">
                        @Html.TextBox("date", null, new { @class = "form-control" })
                    </div>*@
                <div class="col-md-3">
                    <input type="submit" value="Apply Filter" class="btn btn-success" />
                </div>
            </div>
        </fieldset>
    }


</div>

<p>
    @*<a href="@Url.Action("AddOrEdit","Project")" class="btn btn-success">Apply Filter</a>*@

    <a href="@Url.Action("AddOrEdit","Project")" class="btn btn-info">Create New</a>
</p>


<table class="table table-striped">

    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)


            </th>
            <th>
                Client Name
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Status
            </th>
            <th>
              Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.ClientName)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name, item.StatusId == 4 ? new { @class = "text-primary" } :  new { @class = "text-info" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @if (item.StatusId != 4)
                {
                    <a href="@Url.Action("AddOrEdit", "Project", new { Id = item.Id, })" class="btn btn-default">Detail</a>
                    <a href="@Url.Action("AddOrEdit", "Project", new { Id = item.Id })" class="btn btn-primary">Edit</a>

                    <a onclick="Delete(@item.Id)" class="btn btn-danger">Delete</a>
                }


            </td>
        </tr>
    }

</table>

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/alertify.min.js"></script>
<script>

    $(function () {

        var sucessMessage = '@TempData["SucessMessage"]'
        if (sucessMessage != '') {
            alertify.success(sucessMessage)
        }

    });
    function Delete(id) {
 
        alertify.confirm("eWomanPM", "Are you sure to delete this project?", function () {
            window.location.href = '@Url.Action("Delete", "Project")/' + id;
        }, null);
    }
</script>
